out/
.idea
sslfacade.iml
*.iws
.idea/misc.xml
workspace.xml
tasks.xml
local.properties
*.java.orig
gen/
.idea/dictionaries
.idea/scopes/
.idea/codeStyleSettings.xml
*.pyc
*.swp
bin/
*.apk
*.log
*~
coverage-report/
test_result/
*.ser
*.em
.settings
.DS_Store
*.ser
in.txt
/target/
